@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu_main {
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 1);
}

#img_menu {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.5;
}


.button_menu {
    width: 100%;
    display: flex;
    justify-content: space-around   ;
    position: absolute;
    top: 0;
    z-index: 1;
    color: hsl(0, 0%, 100%);
    margin-top: 40px;
}

#title_menu {
    font-family: 'Alata', sans-serif;
    font-weight: bold;
}

.btn_menu {
    color: hsl(0, 0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding: 0 20px;
    margin-top: 60px;
    text-decoration: none;
}

.btn_menu:hover {
    text-decoration: underline;
}


.letter {
    width: 650px;
    height: 260px;
    position: absolute;
    left: 34%;
    top: 35%;
    transform: translate(-50%, -50%);
    border: 2px solid hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterTitle {
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;

}

.news_main {
    margin-left: 160px;
    margin-right: 160px;
}

.img_vr {
    width: 100%;
    height: 367px;
    display: flex;
    margin-top: 100px;
}

.squared_text {
    position: absolute;
    height: 250px;
    max-width: 980px;
    max-width: 980px;
    background-color: hsl(0, 0%, 100%);
    margin: 117px 0 0 407px;
}

#title {
    /* width: 300px; */
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin-top: 60px;
    margin-left: 60px;
}

#paragr_vr {
    margin-top: 30px;
    margin-left: 60px;
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 41%);
}

.our_creations {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 100px;
    text-transform: uppercase;
}

.btn_title {
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#btn_all {
    width: 125px;
    height: 40px;
    right: 0;
    /* background-color: black; */
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

#btn_all:hover {
    color: rgb(255, 255, 255);
    background-color: black;
}

.img_creations {
    /* display: flex; */
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.img_one {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 70px;
}

.img_two {
    display: flex;
}

.imgs_txt_one {
    /* width: 320px; */
    height: 420px;
    text-transform: uppercase;
    /* color: rgb(255, 255, 255); */
    font-family: 'Josefin Sans', sans-serif;
    z-index: 0;
    position: relative;
}

.imgs_txt {
    text-transform: uppercase;
    /* color: rgb(255, 255, 255); */
    font-family: 'Josefin Sans', sans-serif;
    z-index: 0;
}

.img_out {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
    object-fit: cover;
    object-position: center top;
}

.img_out:hover {
    opacity: 0.3;
}

.text_img {
    position: absolute;
    left: 30%;
    top: 89%;
    transform: translate(-50%, -50%);
    color: white;
}

#footer {
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: 120px;
    display: flex;
}

.footer_botton {
    width: 100%;
    padding-top: 40px;
    padding-left: 100px;
    padding-bottom: 70px;
}

#title_footer {
    color: rgb(255, 255, 255);
    padding-left: 20px;
}

.buttons_option_footer {
    margin-top: 30px;
}

.btn_footer {
    color: hsl(0, 0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding: 0 20px;
    margin-top: 60px;
    text-decoration: none;
    margin-top: 30px;
}

.btn_footer:hover {
    text-decoration: underline;
}

/* Footer Soxial */
.footer_social {
    width: 100%;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.button_social {
    line-height: 3;
}

.btn_social {
    width: 100%;
    color: hsl(0, 0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-top: 60px;
    text-decoration: none;
    padding-right: 20px;
}

.btn_social:hover {
    text-decoration: underline;
}

#icon_menu {
    display: none;
}


@media screen and (max-width:950px) {

    .news_main {
        width: 90%;
        margin: 0 auto;
    }

    #icon_menu {
        display: grid;
        width: 30px;
        height: 19px;
    }

    .buttons_option {
        display: none;
    }

    .letter {
        width: 85%;
        left: 50%;
        top: 40%;
    }

    .img_vr {
        width: 70%;
        display: grid;
        max-width: 450px;
        margin: 145px auto;
    }

    #title {
        margin-left: 0px;
    }

    #paragr_vr {
        margin-left: 0px;
    }

    #img_person_vr {
        width: 100%;
    }

    .squared_text {
        position: relative;
        margin: 0;
        max-width: 100%;
        text-align: center;
    }

    .our_creations {
        margin-top: 300px;
    }

    .img_one {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
    }

    .btn_title {
        justify-content: center;
    }

    .btn_bottom {
        display: flex;
        justify-content: center;
    }

    #btn_all_bottom {
        width: 125px;
        height: 40px;
        border: 1px solid black;
        color: black;
        text-transform: uppercase;
        letter-spacing: 3px;
        cursor: pointer;
        margin-top: 30px;
        background-color: rgb(255, 255, 255);
        transition: 0.3s;
    }
    
    #btn_all_bottom:hover {
        color: rgb(255, 255, 255);
        background-color: black;
    }

    #btn_all {
        display: none;
    }

    .imgs_txt_one {
        height: 310px;
    }

    .text_img {
        left: 25%;
        top: 85%;
    }

    #footer {
        width: 100%;
        height: 90%;
        background-color: black;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer_botton {
        padding-top: 45px;
        padding-left: 0px;
        padding-bottom: 40px;
    }

    .buttons_option_footer {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
    }

    #title_footer {
        color: rgb(255, 255, 255);
        padding-left: 0px;
    }

    .footer_social {
        width: 100%;
        color: hsl(0, 0%, 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }
}

